/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

html {
	background: none; 
}

#header {
	top: 0;
	position: fixed;
	width: 100%;
	left: 0;
	background-image: none;
	background-color: #272727;
}

#logo {
	margin-top: 10px;
}

#logo img {
	width: auto;
	height: 30px;
}

body {
	padding-top: 53px!important;
	background: none;
	background-color: #f5f5f5!important;
}

body.container {
	box-shadow: none;
	border: none;
}

.no-menu #main {
	background-color: #f5f5f5;
}

.top-nav-icon a {
	color: #b5f700!important;
	background-color: #363636!important;
	background-image: none!important;
	border-color: #636363!important;
}

.top-nav-icon a:hover {
	color: #ddf700!important;
}

.jarviswidget>div {
	background-color: #F8F8F8!important;
}

.smart-form header, fieldset, footer {
	background: #f5f5f5!important;
}

.smart-form footer {
	border-top: none;
}

.smart-form fieldset+fieldset {
	border-top: none;
}

.btn-primary {
	border-color: #636363;
	background: #b5f700;
	color: #363636;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #ddf700;
	color: #363636;
}

/*.btn-primary:active {
	background-color:#ddf700;
}*/

.pagination>.active>a, .pagination>.active>a:hover {
	background-color: #363636;
	border-color: #363636;
}

.pagination>li>a, .pagination>li>a:hover {
	color: #363636;
}

.smart-form .checkbox:hover i, .smart-form .input:hover input, .smart-form .radio:hover i, .smart-form .select:hover select, .smart-form .textarea:hover textarea, .smart-form .toggle:hover i {
	border-color: #ddf700;
}