<div id="content">
	<div class="row">

		<h3>
			Group Name: {{vm.group.name}}
			<a class="btn btn-default"
				ng-if="vm.isCurCustomerGroupMember"
				ng-click="">
				<i class="fa fa-envelope"></i>
			</a>
		</h3>

		<span ng-if="!vm.isCurCustomerGroupMember">
			<h3>
				Created: {{vm.group.created}}
			</h3>

			<h3>
				Number Of Mastermind Session: {{vm.sessionsPassed}}
			</h3>

			<h3>
				Penalty Level: ${{vm.group.penalty}}
			</h3>

			<h3>
				Description: {{vm.group.description}}
			</h3>

			<h3>
				Mastermind Sessions: {{vm.group.mastermindSessions}}
			</h3>
		</span>

		<h3>Members:</h3>

		<section class="col col-xs-12" ng-repeat="member in vm.listMembersWithOwner">
			<label style="display: block;">
				<img style="height: 124px; float: left;" class="img-responsive" ng-src="{{vm.urlBase + member.avatar}}">
			</label>

			<label style="display: block;">
				<h3>
					{{member.firstName + member.lastName}}
					<span ng-if="vm.group._ownerId == member._id"> - Group Owner</span>
				</h3>
				<h3>{{member.description}}</h3>
			</label>

			<label style="display: block;">

				<a class="btn btn-default"
					ng-href="{{member.social.fb}}">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a class="btn btn-default"
					ng-href="{{member.social.tw}}">
					<i class="fa fa-twitter-square"></i>
				</a>
				<a class="btn btn-default"
					ng-href="{{member.social.li}}">
					<i class="fa fa-linkedin-square"></i>
				</a>
				<a class="btn btn-default"
					ng-if="vm.isCurCustomerGroupMember"
					ng-click="">
					<i class="fa fa-envelope"></i>
				</a>

				<span ng-if="vm.group._ownerId == vm.curCustomer._id">
					<a class="btn btn-default"
						ng-click="vm.group._ownerId == member._id
							? vm.removeOwner()
							: vm.removeMember(member._id)">

						<i class="fa fa-times-circle"></i>
					</a>
				</span>

			</label>
		</section>

		<div ng-if="vm.group.isHasFreePlace">
			<span ng-if="vm.isCurCustomerGroupMember">
				<a class="btn btn-default"
					ng-if="(vm.group._ownerId == vm.curCustomer._id || vm.group.memberCanInvite)"
					ui-sref="app.group.invite({id: vm.group._id})">
					Invite Someone To This Group
				</a>
			</span>

			<span ng-if="!vm.isCurCustomerGroupMember">
				<a class="btn btn-default"
					ui-sref="app.group.join({id: vm.group._id})">
					Request To Join This Group
				</a>
			</span>
		</div>

	</div>
</div>