<header id="header">
<div id="logo-group">
	<!-- PLACE YOUR LOGO HERE -->
	<span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin"> </span>
	<!-- END LOGO PLACEHOLDER -->

	<!-- Note: The activity badge color changes when clicked and resets the number to 0
	Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
	<!-- <span id="activity" class="activity-dropdown" activities-dropdown-toggle> 
		<i class="fa fa-user"></i> 
		<b class="badge bg-color-red">21</b> 
	</span>
	<div smart-include="app/dashboard/activities/activities.html"></div> -->
</div>


<!-- <recent-projects></recent-projects> -->

<!-- pulled right: nav area -->
<div class="pull-right">

	<!-- logout button -->
	<div class="btn-header pull-right">
		<span> <a data-ng-click="logout()" title="Sign Out" data-action="userLogout"
				data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i
					class="fa fa-sign-out"></i></a> </span>
	</div>
	<!-- end logout button -->

	<!-- settings page button -->
	<div class="btn-header pull-right">
		<span> <a data-ui-sref="app.profile.settings" title="Settings page"><i
				class="fa fa-gear"></i></a> </span>
	</div>
	<!-- end settings page -->

	<!-- training area button -->
	<div class="btn-header pull-right">
		<span> <a title="Training area"><i
				class="fa fa-mortar-board"></i></a> </span>
	</div>
	<!-- end training area -->

	<!-- group page button -->
	<div class="btn-header pull-right">
		<span> <a title="Group page"><i
				class="fa fa-group"></i></a> </span>
	</div>
	<!-- end group page -->

</div>
<!-- end pulled right: nav area -->

</header>