<div id="content">
	<h2>
		{{vm.group.name}}
		<a class="btn btn-default btn-circle"
			ng-if="vm.isCurCustomerGroupMember"
			ng-click="vm.showEmailModal()">
			<i class="fa fa-envelope"></i>
		</a>
	</h2>

	<div style="font-size: 17px;">
		<p>
			<b>Created:</b> {{vm.group.created}}
		</p>

		<p>
			<b>Number Of Mastermind Session:</b> {{vm.sessionsPassed}}
		</p>

		<p>
			<b>Penalty Level:</b> ${{vm.group.penalty}}
		</p>

		<p>
			<div style="white-space: pre-wrap;">
				<b>Description:</b> {{vm.group.description}}
			</div>
		</p>

		<p>
			<b>Mastermind Sessions:</b> {{vm.group.mastermindSessions}}
		</p>
	</div>

	<div class="row">
		<div class="col-md-6" ng-repeat="member in vm.listMembersWithOwner">
			<div class="well padding-10">
				<div class="media">
					<div class="media-left">
						<img class="media-object" height="128px" width="128px" ng-src="{{vm.urlBase + member.avatar}}" alt="...">
					</div>
					<div class="media-body" style="width: 100%;">
						<h4 class="media-heading">
							{{member.firstName + ' ' + member.lastName}}
							<span ng-if="vm.group._ownerId == member._id"> - Group Owner</span>
						</h4>

						<p class="media-member-desc">{{member.description}}</p>

						<a class="btn btn-default btn-circle"
							ng-if="member.social.fb"
							ng-href="{{member.social.fb | userLink}}"
							target="_blank">
							<i class="fa fa-facebook-square"></i>
						</a>
						<a class="btn btn-default btn-circle"
							ng-if="member.social.tw"
							ng-href="{{member.social.tw | userLink}}"
							target="_blank">
							<i class="fa fa-twitter-square"></i>
						</a>
						<a class="btn btn-default btn-circle"
							ng-if="member.social.li"
							ng-href="{{member.social.li | userLink}}"
							target="_blank">
							<i class="fa fa-linkedin-square"></i>
						</a>
						<a class="btn btn-default btn-circle"
							ng-if="vm.isCurCustomerGroupMember
								&& vm.curCustomer._id != member._id"
							ng-click="vm.showEmailModal(member._id)">
							<i class="fa fa-envelope"></i>
						</a>

						<div class="pull-right">
							<span ng-if="vm.group._ownerId == vm.curCustomer._id">
								<a class="btn btn-default btn-circle"
									ng-click="vm.group._ownerId == member._id
										? vm.removeOwner()
										: vm.removeMember(member._id)">

									<i class="fa fa-times-circle"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="vm.group.isHasFreePlace">
		<div align="center">
			<span ng-if="vm.isCurCustomerGroupMember">
				<a class="btn btn-primary btn-lg"
					ng-if="(vm.group._ownerId == vm.curCustomer._id || vm.group.memberCanInvite)"
					ui-sref="app.group.invite({id: vm.group._id})">
					Invite Someone To This Group
				</a>
			</span>

			<span ng-if="!vm.isCurCustomerGroupMember">
				<a class="btn btn-primary btn-lg"
					ui-sref="app.group.join({id: vm.group._id})">
					Request To Join This Group
				</a>
			</span>
		</div>
	</div>

</div>