<div id="content">
	<div class="row">

		<section widget-grid id="widget-grid">
			<article class="col-sm-12">
				<div class="well" style="margin: 8px;" ng-repeat="excuse in vm.excuses">
					<div class="row">
						<div class="col-xs-7">
							<h4>{{excuse.memberName}}</h4>
						</div>
						<div class="col-xs-5">
							<div class="pull-right">
								<a class="btn btn-default" href-void
									popover-placement="bottom"
									popover-title="Member excuse"
									uib-popover="{{excuse.excuseMessage}}">
									<i class="fa fa-eye"></i></a>

								<a class="btn btn-default"
									ui-sref="app.profile.detail({id: excuse._id})">
									<i class="fa fa-user"></i></a>

								<a class="btn btn-default"
									ng-click="vm.excuseReject(excuse._id)">
									<i class="fa fa-times"></i></a>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>

	</div>
</div>