<div id="content">
	<div class="row">
		<div class="col-md-12" style="margin-bottom: 20px;">
			<h2 ng-if="!vm.isOwner">
				{{vm.goal.name}}
			</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2" style="font-size: 17px;">
			<b>Comments:</b>
		</div>

		<div class="col-md-10">
			<textarea class="custom-scroll" style="width: 100%; padding: 10px;"
				ng-model="vm.goal.comments" rows="8"></textarea>
		</div>
	</div>

	<div class="row" style="font-size: 17px; margin-top: 50px; margin-bottom: 20px;">
		<div class="col-md-12">
			<b>Evidence:</b>
		</div>
	</div>

	<div class="well" ng-repeat="file in vm.goal.evidences">
		<div class="row">
			<div class="col-md-10">
				{{file.originalFilename}}
			</div>
			<div class="col-md-2">
				<div class="pull-right">
					<a class="btn btn-default"
						popover-placement="left"
						uib-popover-template="vm.popoverTemplate"
						popover-title="File info">
						<i class="fa fa-eye"></i></a>

					<script type="text/ng-template" id="fileInfoPopover.html">
						<div style="min-width: 220px;">
							<div>Size: {{file.size / 1000}}kb</div>
							<div>Added: {{file.createdAt | date : 'medium'}}</div>

							<div align="right">
								<a class="btn btn-default btn-sm"
									ng-href="{{vm.urlBase + '/FilesContainers/' + file.container + '/download/' + file.name + '?access_token=' + vm.token}}"
									download="">
									<i class="fa fa-download"></i></a>
							</div>
						</div>
					</script>

					<a class="btn btn-default"
						ng-click="vm.deleteEvidence(file)">
						<i class="fa fa-trash-o"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div align="center">
		<label class="btn btn-primary btn-lg" for="fileInput">
			Add New Evidence
			<div style="display: none;">
				<input id="fileInput" type="file" file-model="vm.newFile">
			</div>
		</label>

		<a class="btn btn-primary btn-lg"
			ng-click="vm.saveGoal()">
			Save Changes</a>
	</div>

	<div ng-if="vm.goal.feedbacks.length" style="margin-top: 50px;">
		<div class="row" style="margin-bottom: 10px;" ng-repeat="feedback in vm.goal.feedbacks">
			<div class="col-md-12" style="font-size: 17px;">
				<b>{{feedback.fullName}}:
					<span style="font-size: 15px;">{{feedback.feedback}}</span></b>
			</div>
		</div>

		<div class="row">
			<form ng-submit="vm.leaveFeedback()" class="smart-form ng-pristine ng-valid">
				<fieldset>
					<div class="col-md-10">
						<textarea class="custom-scroll" style="width: 100%;" rows="4"
							ng-model="vm.feedbackReply" required></textarea>
					</div>

					<div class="col-md-2" style="padding-top: 15px;" align="center">
						<button type="submit" class="btn btn-primary btn-lg">
							Reply
						</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>