<div id="content">
	<div class="row">
		<div class="jarviswidget jarviswidget-sortable">
			<form ng-submit="vm.inviteToGroup()" class="form-horizontal ng-pristine ng-valid">
				<fieldset align="center">
					<legend>Invite To This Group</legend>
				</fieldset>

				<fieldset>
					<div class="form-group">
						<label class="col-md-2 control-label">Email</label>
						<div class="col-md-8">
							<input ng-model="vm.emails" class="form-control" type="text" placeholder="Emails">
							<p class="note"><strong>Note:</strong> if more that one email separate each email address with a ;</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label">Invite message</label>
						<div class="col-md-8">
							<textarea ng-model="vm.inviteMessage" class="form-control" placeholder="Enter your invite..." rows="10"></textarea>
						</div>
					</div>
				</fieldset>

				<fieldset align="center">
					<button class="btn btn-primary btn-lg" type="submit">
						Send Invite
					</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>