<div id="content">
	<div class="row">

		<section widget-grid id="widget-grid">
			<article class="col-sm-12">
				<div>
					<div class="well" style="margin-bottom: 8px;" ng-repeat="group in vm.groups | limitTo: vm.groupsPerPage : ((vm.curPageNumber - 1) * vm.groupsPerPage)">
						<div class="row">
							<div class="col-xs-7">
								<h4>{{group.name}}</h4>
							</div>
							<div class="col-xs-5">
								<div class="pull-right">
									<a class="btn btn-default" data-tooltip="Edit group"
										ng-if="group._ownerId == vm.curCustomer._id"
										ui-sref="app.group.edit({id: group._id})">
										<i class="fa fa-pencil"></i></a>

									<a class="btn btn-default" data-tooltip="Join requests"
										ng-if="group._ownerId == vm.curCustomer._id"
										ui-sref="app.group.joinRequests({id: group._id})">
										<i class="fa fa-gavel"></i></a>

									<a class="btn btn-default" data-tooltip="Members excuses"
										ng-if="group._ownerId == vm.curCustomer._id"
										ui-sref="app.group.sessionExcuses({id: group._id})">
										<i class="fa fa-frown-o"></i></a>

									<a class="btn btn-default" data-tooltip="Review group"
										ui-sref="app.group.detail({id: group._id})">
										<i class="fa fa-eye"></i></a>

									<a class="btn btn-default" data-tooltip="Send message"
										ng-if="group._memberIds.length"
										ng-click="vm.showEmailModal(group._id)">
										<i class="fa fa-envelope"></i></a>

									<a class="btn btn-default" data-tooltip="Leave group"
										ng-if="group._ownerId != vm.curCustomer._id"
										ng-click="vm.leaveGroup(group._id)">
										<i class="fa fa-sign-out"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div align="center">
						<uib-pagination class="pagination-sm"
							ng-if="vm.totalGroupsCount > vm.groupsPerPage"
							total-items="vm.totalGroupsCount"
							items-per-page="vm.groupsPerPage"
							ng-model="vm.curPageNumber"

							max-size="5"
							boundary-links="true">
						</uib-pagination>
					</div>

					<div align="center">
						<a class="btn btn-primary btn-lg" style="margin-right: 54px;" 
							ui-sref="app.group.search">
							Join New Group</a>

						<a class="btn btn-primary btn-lg"
							ui-sref="app.group.create">
							Create New Group</a>
					</div>
				</div>
			</article>
		</section>

	</div>
</div>